Flask~=3.1.0
Flask-Bootstrap~=3.3.7.1
Flask-Moment~=1.0.5
flask-paginate~=2024.4.12
influxdb~=5.3.1
psutil~=7.0.0
python-dotenv~=1.1.0
PyYAML~=6.0.2
prometheus-api-client~=0.6
paho-mqtt~=2.1.0
urllib3~=2.5.0
requests~=2.32.3
influxdb-client~=1.49.0
paramiko~=3.5.0
kafka-python~=2.2.4